@import "tailwindcss";
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";
@plugin "./daisyui.js";

/* 共通見出し */
.header1 {
  display: inline-block;
  padding: 2rem 0.5em 0.25rem;
  border-bottom: 2px solid #F5A83D;
  min-width: 250px;
  max-width: 300px;
  font-size: 1.875rem;
}
.header2 {
  display: inline-block;
  margin-left: 0.5rem;
  border-left: 5px solid #F5A83D;
  border-bottom: 1px solid #F5A83D;
  padding: 0 0.5rem;
  font-weight: 500;
  font-size: 20px;
}

/* リンク */
.link {
  color: #3586FF;
}

/* ボタン */
.button {
  padding: 0.25rem 1.25rem;
  min-width: 150px;
  height: 40px;
  border-radius: 8px;
  color: white;
  background-color: #3586FF;
}
.button-edit {
  background-color: #14B866;
}

/* フォーム */
.form {
  margin: 0 auto 2rem;
  width: 100%;
  max-width: 500px;
}
.field {
  max-width: 300px;
  margin: 0 auto 1rem;
  text-align: left;
}
input:-webkit-autofill{
  box-shadow: 0 0 0px 100px white inset;
}
.text-field {
  padding: 4px 12px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: white;
  font-size: 1.25rem;
}
.textarea-field {
  padding: 4px 12px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: white;
}
.file-field {
  padding: 4px 12px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: white;
  /* color: gray; */
}
.select-field {
  border: 1px solid #000;
  padding: 4px;
  background-color: white;
  font-size: 1.25rem;
}

/* letter-spacingによる末尾空白文字対策 */
.text-indent-1em {
  text-indent: 1em;
}

/* 要素を視覚的に隠す */
.invisible-element {
  border: none;
  padding: 0;
  height: 0;
  visibility: hidden;
}

/* フラッシュメッセージ */
.flash-notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto 0.5rem;
  border: 1px solid #86efac; /* light green border */
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 90%;
  max-width: 600px;
  color: #065f46; /* dark green text */
  background-color: #d1fae5; /* light green background */
  text-align: left;
}
.flash-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto 0.5rem;
  border: 1px solid #fca5a5;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 90%;
  max-width: 600px;
  color: #991b1b;
  background-color: #fee2e2;
  text-align: left;
}
.flash-text {
  flex: 1;
  flex-wrap: wrap;
  word-break: break-all;
}

/* トップページのカードデザイン */
.about-card {
  margin: 0 auto 2rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 900px;
  background-color: white;
  box-shadow: 0 4px 6px -1px hsl(0, 0%, 70%);
  text-align: center;
}
.about-card-content {
  margin: 0 auto;
  max-width: 380px;
}

/* マイタウンのセレクトボックス */
.mytown-selects {
  display: flex;
}
.mytown-selects select:last-of-type {
  margin-left: 1rem;
}

/* ナビゲーション */
.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
}
.nav-text {
  display: inline-block;
  height: 1rem;
  font-size: 13px;
}

/* ハンバーガーメニュー */
.menu-list {
  margin-bottom: 2rem;
  text-decoration: underline;
}

/* アイコンサークル */
.icon-circle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: white;
}
.icon-circle-current {
  background-color: #F5A83D;
}
.icon-circle-text {
  font-weight: bold;
}

/* マップ検索 */
.map-search-field {
  padding: 4px 12px;
  border: 1px solid #000;
  border-radius: 4px 0 0 4px;
  background-color: white;
  font-size: 1.25rem;
}

/* タグ */
.tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0 0.75rem;
  background-color: #F5A83D;
  cursor: default;
}
.default-tag {
  display: none;
}
.tag-text {
  color: white;
}

/* まちレポカード */
.machi-repo-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: start;
}

/* まちレポ詳細 */
/* 背景色 */
.bg-emergency {
  background-color: #FEE6E6;
}
.bg-warn {
  background-color: #FEFAE6;
}
.bg-share {
  background-color: #EAFEE6;
}
/* タイトル背景色 */
.title-bg-emergency {
  background-color: #DF3737;
}
.title-bg-warn {
  background-color: #DFA737
}
.title-bg-share {
  background-color: #44D926;
}
/* テキストカラー */
.text-emergency {
  color: #DF3737;
}
.text-warn {
  color: #DFA737;
}
.text-share {
  color: #44D926;
}
/* ボーダーカラー */
.border-color-emergency {
  border-color: #DF3737;
}
.border-color-warn {
  border-color: #DFA737;
}
.border-color-share {
  border-color: #44D926;
}
/* .machi-repo-detail-header {
  display: inline-block;
  min-width: 250px;
  max-width: 85%;
  font-size: 1.25rem;
  text-decoration: underline;
}
.header-emergency {
  text-decoration-color: #DF3737;
} */