<div class="flex-shrink-0 ml-auto">
  <% if current_user.follow?(user) %>
    <%= render "users/follows/unfollow", user: user %>
  <% else %>
    <%= render "users/follows/follow", user: user %>
  <% end %>
</div>