<div class="flex flex-col items-center gap-4 md:flex-row md:flex-wrap md:justify-center md:gap-x-8">
  <div class="text-center tracking-widest">
    <p class="mb-4">
      チャットでは、メッセージと<br>
      画像を使って他のユーザーと<br>
      やり取りをすることができます！
    </p>
    <p class="mb-4">
      メッセージ投稿と画像投稿は、<br>
      左下のアイコンで<br>
      切り替えることができます！
    </p>
    <p>
      自分のチャットは長押しすることで<br>
      削除することができます！
    </p>
  </div>
  <div class="shadow max-w-[350px]">
    <%= image_tag "chat_image.png" %>
  </div>
</div>