<div class="flex flex-col items-center md:flex-row md:flex-wrap md:justify-center md:gap-x-8">
  <p class="mb-4 w-full tracking-widest">
    まちレポ画面では、以下の方法で<br>
    &quot;まち&quot;に関連する&quot;まちレポ&quot;を<br>
    閲覧することができます。
  </p>
  <dl class="mb-4 text-left">
    <dt class="header3">マイタウン</dt>
    <dd class="mb-2 ml-4">
      ユーザー登録時に選択した&quot;マイタウン&quot;を<br>
      マップ上に表示します。
    </dd>
    <dt class="header3">現在地</dt>
    <dd class="mb-2 ml-4">
      ユーザーの現在地をマップ上に表示しま<br>
      す。ただし、正確な位置を取得できない<br>
      場合があります。
    </dd>
    <dt class="header3">住所検索</dt>
    <dd class="mb-2 ml-4">
      入力された住所をマップ上に表示します。
    </dd>
  </dl>
  <div class="shadow mb-4 max-w-[320px]">
    <%= image_tag "view_machi_repos1.png" %>
  </div>
  <p class="mb-4 w-full tracking-widest">
    住所の表示がローマ字になって<br>
    しまう場合は、マップ中心のマーカーを<br>
    ずらすと正しい住所が表示されます。
  </p>
</div>