<div data-chat-date="<%= date %>" class="my-8 text-center">
  <div class="inline-block rounded-2xl py-1 px-3 bg-black/50 text-white">
    <time class="chat-date">
      <%= I18n.l(date, format: :long) %>
    </time>
  </div>
</div>