<!-- 自分のチャット -->
<div class="chat <%= "#{machi_repo.info_level}" %>">
  <div class="chat-else">
    <div></div>
    <div class="chat-time">
      <time>00:00</time>
    </div>
  </div>
  <div class="chat-message-wrapper "
  >
    <%= simple_format("ありがとうございますありがとうございますありがとうございますありがとうございますありがとうございます", class: "chat-message") %>
  </div>
</div>