<!-- 誰かのチャット -->
<div class="chat other">
  <div class="w-8 aspect-square">
    <%= render "shared/icons/face_icon" %>
  </div>
  <div>
    <div>
      <span class="text-sm">ユーザー名</span>
    </div>
    <div class="chat-message-wrapper"
    >
      <%= simple_format("ありがとうございますありがとうございますありがとうございますありがとうございますありがとうございます", class: "chat-message") %>
    </div>
  </div>
  <div class="chat-else">
    <div></div>
    <div class="chat-time">
      <time>00:00</time>
    </div>
  </div>
</div>