<!-- 誰かのチャット -->
<div class="chat other">
  <div class="w-8 aspect-square">
    <%= render "shared/icons/face_icon" %>
  </div>
  <div>
    <div>
      <span class="chat-nickname text-sm"><%= nickname %></span>
    </div>
    <div class="chat-message-wrapper"
    >
      <%= simple_format(chat&.message, class: "chat-message") %>
    </div>
  </div>
  <div class="chat-else">
    <div></div>
    <div class="chat-time">
      <time><%= chat&.created_at&.strftime("%H:%M") %></time>
    </div>
  </div>
</div>