<!-- 自分のチャット -->
<div class="chat <%= "#{info_level}" %>">
  <div class="chat-else">
    <div></div>
    <div class="chat-time">
      <time><%= chat&.created_at&.strftime("%H:%M") %></time>
    </div>
  </div>
  <div class="chat-message-wrapper"
  >
    <%= simple_format(chat&.message, class: "chat-message") %>
  </div>
</div>