<div data-controller="flash">
  <% if flash[:notice].present? %>
    <div class="fixed bottom-15 left-0 w-full z-5 md:bottom-8">
      <ul>
        <% Array(flash[:notice]).each do |msg| %>
          <li data-action="click->flash#close" class="flash flash-notice">
            <span class="flash-text"><%= msg %></span>
            <span class="flash-close-icon flash-close-icon-notice">
              <%= render "shared/icons/close_icon" %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% elsif flash[:alert] %>
    <div class="fixed bottom-15 left-0 w-full z-5 md:bottom-8">
      <ul>
        <% Array(flash[:alert]).each do |msg| %>
          <li data-action="click->flash#close" class="flash flash-alert">
            <span class="flash-text"><%= msg %></span>
            <span class="flash-close-icon flash-close-icon-alert">
              <%= render "shared/icons/close_icon" %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div></div> <!-- 空にして非表示 -->
  <% end %>
</div>