<div data-controller="flash">
  <%
    if flash[:notice].present?
      flash_type = "notice"
      flash_data = flash[:notice]
    elsif flash[:alert].present?
      flash_type = "alert"
      flash_data = flash[:alert]
    end
  %>

  <div>
    <% if flash_data.present? %>
      <div class="fixed bottom-15 left-0 w-full z-5 md:bottom-8">
        <ul>
          <% Array(flash_data).each do |msg| %>
            <li data-action="click->flash#close" class="flash flash-<%= "#{flash_type}" %>">
              <span class="flash-text"><%= msg %></span>
              <span class="flash-close-icon flash-close-icon-<%= "#{flash_type}" %>">
                <%= render "shared/icons/close_icon" %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>