<p class="text-center tracking-widest">
  表示されている住所の<br>
  まちレポを表示しています。<br>
  <br>
  まちレポのカードから<br>
  まちレポの詳細画面へ<br>
  移動することができます。<br>
  <br>
  検索を利用することで、表示される<br>
  まちレポをしぼることができます。<br>
  <br>
  住所の表示がローマ字になって<br>
  しまう場合は、マップ中心のマーカーを<br>
  ずらすと正しい住所が表示されます。
</p>