<% content_for :title, "利用規約" %>

<div class="">
  <h2 class="mb-8 text-center">
    <span class="header1"><%= t('.title') %></span>
  </h2>
</div>

<section class="px-4 tracking-widest">
  <!-- 利用規約 -->
  <section class="mb-4">
    <p class="indent-4">
      この利用規約（以下、「本規約」といいます。）は、「Machi Vigil ~ まちヴィジル ~」（以下、「本アプリケーション」といいます。）が提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。
      本サービスは、個人により開発・運営されているものであり、法人ではありません。
    </p>
  </section>
  <!-- 第1条（適用） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第1条（適用）</h3>
    <p class="indent-4">
      本規約は、ユーザーと本アプリケーションとの間の本サービスの利用に関わる一切の関係に適用されます。
      本アプリケーションは本サービスに関し、本規約のほか、ご利用にあたってのルール等の定め（以下「個別規定」といいます。）を設けることがあります。これら個別規定はその名称のいかんを問わず、本規約の一部を構成するものとします。
      本規約と個別規定の内容が矛盾する場合、個別規定に特段の定めがある限りにおいて個別規定が優先されます。
    </p>
  </section>
  <!-- 第2条（利用登録） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第2条（利用登録）</h3>
    <p class="mb-2 indent-4">
      本サービスにおいては、登録希望者が本規約に同意の上、本アプリケーションの定める方法によって利用登録を申請し、本アプリケーションがこれを承認することによって、利用登録が完了するものとします。
    </p>
    <p class="mb-2 indent-4">
      ユーザーは本サービスへの登録およびログインにあたり、以下のいずれかの方法を選択できます。
    </p>
    <ul class="ml-6 mb-4 list-disc">
      <li class="mb-2">
        本アプリケーションが提供する登録フォームにて、メールアドレスおよびパスワード等を設定する方法
      </li>
      <li class="mb-2">
        Google社が提供するOAuth認証機能（以下「Google認証」といいます）を利用する方法
      </li>
    </ul>
    <p class="mb-2 indent-4">
      Google認証を利用する場合、ユーザーはGoogleアカウントに関する情報（メールアドレス等）が本アプリケーションに提供されることを承諾するものとします。なお、当該情報の取り扱いについては、第12条およびプライバシーポリシーに従うものとします。
    </p>
    <p class="mb-2 indent-4">
      また、以下の場合には利用登録を承認しないことがあり、その理由は開示いたしません。
    </p>
    <ul class="ml-6 mb-4 list-disc">
      <li class="mb-2">
        虚偽の内容を申請した場合
      </li>
      <li class="mb-2">
        過去に本規約違反があった場合
      </li>
      <li class="mb-2">
        その他、本アプリケーションが不適切と判断した場合
      </li>
    </ul>
  </section>
  <!-- 第3条（メールアドレスおよびパスワードの管理） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第3条（メールアドレスおよびパスワードの管理）</h3>
    <p class="mb-2 indent-4">
      ユーザーは自己の責任において、本サービスのメールアドレスおよびパスワードを適切に管理するものとします。
    </p>
    <p class="mb-2 indent-4">
      ユーザーはいかなる場合にも、メールアドレスおよびパスワードを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。本アプリケーションは、メールアドレスとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのメールアドレスを登録しているユーザー自身による利用とみなします。
    </p>
    <p class="mb-2 indent-4">
      メールアドレス及びパスワードが第三者によって使用されたことによって生じた損害は、本アプリケーションに故意又は重大な過失がある場合を除き、本アプリケーションは一切の責任を負わないものとします。
    </p>
  </section>
  <!-- 第4条（禁止事項） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第4条（禁止事項）</h3>
    <p class="mb-2 indent-4">
      ユーザーは本サービスの利用にあたり、以下の行為をしてはなりません。
    </p>
    <ul class="ml-6 mb-4 list-disc">
      <li class="mb-2">
        法令または公序良俗に違反する行為
      </li>
      <li class="mb-2">
        犯罪行為に関連する行為
      </li>
      <li class="mb-2">
        本サービスの内容等に含まれる著作権、商標権、肖像権、プライバシー権、名誉その他の知的財産権またはその他の権利を侵害する行為
      </li>
      <li class="mb-2">
        本アプリケーション、他のユーザー、または第三者のサーバーやネットワークの機能を破壊、妨害する行為
      </li>
      <li class="mb-2">
        本サービスによって得られた情報を商業的に利用する行為
      </li>
      <li class="mb-2">
        本アプリケーションのサービス運営を妨害するおそれのある行為
      </li>
      <li class="mb-2">
        不正アクセス行為またはこれを試みる行為
      </li>
      <li class="mb-2">
        他のユーザーに関する個人情報等を無断で収集または蓄積する行為
      </li>
      <li class="mb-2">
        不正な目的を持って本サービスを利用する行為
      </li>
      <li class="mb-2">
        本サービスの他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為
      </li>
      <li class="mb-2">
        他のユーザーに成りすます行為
      </li>
      <li class="mb-2">
        本アプリケーションが認めていない営業、宣伝、広告、勧誘、その他営利を目的とする行為
      </li>
      <li class="mb-2">
        面識のない異性との出会いや交際を目的とする行為
      </li>
      <li class="mb-2">
        他のユーザーに対する嫌がらせ、誹謗中傷、または迷惑行為を目的とする行為
      </li>
      <li class="mb-2">
        本アプリケーションのサービスに関連し、反社会的勢力に対して直接または間接に利益を供与する行為
      </li>
      <li class="mb-2">
        以下の表現を含み、または含むと本アプリケーションが判断する内容を本サービス上に投稿し、または送信する行為
        <ul class="ml-6 mb-4 list-disc">
          <li class="mb-2">
            過度に暴力的な表現
          </li>
          <li class="mb-2">
            露骨な性的表現
          </li>
          <li class="mb-2">
            人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現
          </li>
          <li class="mb-2">
            自殺、自傷行為、薬物乱用を誘引または助長する表現
          </li>
          <li class="mb-2">
            その他反社会的な内容を含み他人に不快感を与える表現
          </li>
        </ul>
      </li>
      <li class="mb-2">
        宗教活動または宗教団体への勧誘行為
      </li>
      <li class="mb-2">
        その他、本アプリケーションが不適切と判断する行為
      </li>
    </ul>
  </section>
  <!-- 第5条（本サービスの提供の停止等） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第5条（本サービスの提供の停止等）</h3>
    <p class="mb-2 indent-4">
      本アプリケーションは、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
    </p>
    <ul class="ml-6 mb-4 list-disc">
      <li class="mb-2">
        本サービスにかかるコンピュータシステムの保守点検または更新を行う場合
      </li>
      <li class="mb-2">
        地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合
      </li>
      <li class="mb-2">
        コンピュータまたは通信回線等が事故により停止した場合
      </li>
      <li class="mb-2">
        その他、本アプリケーション、本サービスの提供が困難だと判断した場合
      </li>
    </ul>
    <p class="mb-2 indent-4">
      本アプリケーションは、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。
    </p>
  </section>
  <!-- 第6条（著作権） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第6条（著作権）</h3>
    <p class="mb-2 indent-4">
      ユーザーは自ら著作権等の必要な知的財産権を有するか、または必要な権利者の許諾を得た文章、画像や映像等の情報に関してのみ、本サービスを利用し、投稿ないしアップロードすることができるものとします。
    </p>
    <p class="mb-2 indent-4">
      ユーザーが本サービスを利用して、投稿ないしアップロードした文章、画像、映像等の著作権については、当該ユーザーその他既存の権利者に留保されるものとします。ただし、本アプリケーションは、本サービスを利用して投稿ないしアップロードされた文章、画像、映像等について、本サービスの改良、品質の向上、または不備の是正等ならびに本サービスの周知宣伝等に必要な範囲で利用できるものとし、ユーザーはこの利用に関して、著作者人格権を行使しないものとします。
    </p>
    <p class="mb-2 indent-4">
      前項本文の定めるものを除き、本サービスおよび本サービスに関連する一切の情報についての著作権およびその他の知的財産権はすべて本アプリケーションまたは本アプリケーションにその利用を許諾した権利者に帰属し、ユーザーは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます。）、伝送、配布、出版、営業使用等をしてはならないものとします。
    </p>
  </section>
  <!-- 第7条（利用制限および登録抹消） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第7条（利用制限および登録抹消）</h3>
    <p class="mb-2 indent-4">
      本アプリケーションは、ユーザーが以下のいずれかに該当する場合には、事前の通知なくユーザーに対して本サービスの全部もしくは一部の利用を制限、またはユーザーとしての登録を抹消することができるものとします。
    </p>
    <ul class="ml-6 mb-4 list-disc">
      <li class="mb-2">
        本規約のいずれかの条項に違反した場合
      </li>
      <li class="mb-2">
        登録事項に虚偽の事実があることが判明した場合
      </li>
      <li class="mb-2">
        本アプリケーションからの連絡に対し、一定期間返答がない場合
      </li>
      <li class="mb-2">
        本サービスについて、最終の利用から一定期間利用がない場合
      </li>
      <li class="mb-2">
        その他、本アプリケーションが本サービスの利用を適当でないと判断した場合
      </li>
    </ul>
    <p class="mb-2 indent-4">
      前項各号のいずれかに該当した場合、ユーザーは当然に本アプリケーションに対する一切の債務について期限の利益を失い、その時点において負担する一切の債務を直ちに一括して弁済しなければなりません。
    </p>
    <p class="mb-2 indent-4">
      本アプリケーションは、本条に基づき本アプリケーションが行った行為によりユーザーに生じた損害について、一切の責任を負いません。
    </p>
  </section>
  <!-- 第8条（退会） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第8条（退会）</h3>
    <p class="mb-2 indent-4">
      ユーザーは本アプリケーションの定める退会手続により、本サービスから退会できるものとします。
    </p>
  </section>
  <!-- 第9条（保証の否認および免責事項） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第9条（保証の否認および免責事項）</h3>
    <p class="mb-2 indent-4">
      本アプリケーションは、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しません。
    </p>
    <p class="mb-2 indent-4">
      本アプリケーションは、本サービスの利用に関連してユーザーに生じたあらゆる損害について、本アプリケーションの故意または重過失による場合を除き、一切の責任を負いません。
    </p>
    <p class="mb-2 indent-4">
      ただし、本サービスが消費者契約法上の「消費者契約」に該当する場合、この免責規定は適用されません。その場合であっても、本アプリケーションの軽過失による債務不履行または不法行為によって生じた損害のうち、特別な事情から生じた損害（本アプリケーションが予見し、または予見し得た場合を含む）については、責任を負わないものとします。
    </p>
    <p class="mb-2 indent-4">
      なお、本サービスは現在無償で提供されており、利用料は発生しません。
    </p>
    <p class="mb-2 indent-4">
      また、本サービスに関連して、ユーザーと他のユーザーまたは第三者との間に生じた取引、連絡または紛争等について、本アプリケーションは一切の責任を負いません。
    </p>
  </section>
  <!-- 第10条（サービス内容の変更等） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第10条（サービス内容の変更等）</h3>
    <p class="mb-2 indent-4">
      本アプリケーションは、本サービスの内容を変更、追加または廃止することができるものとします。なお、サービス内容の変更については、事前にユーザーに告知する場合もありますが、必ずしも事前告知を要するものではありません。
      ユーザーはこれらの変更をあらかじめ承諾するものとします。
    </p>
  </section>
  <!-- 第11条（利用規約の変更） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第11条（利用規約の変更）</h3>
    <p class="mb-2 indent-4">
      本アプリケーションは以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。
    </p>
    <ul class="ml-6 mb-4 list-disc">
      <li class="mb-2">
        本規約の変更がユーザーの一般の利益に適合する場合
      </li>
      <li class="mb-2">
        本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものである場合
      </li>
    </ul>
    <p class="mb-2 indent-4">
      本アプリケーションは、前項による本規約の変更にあたり、可能な限り事前にユーザーに対して、本規約を変更する旨および変更後の本規約の内容並びにその効力発生時期を通知するよう努めます。しかし、物理的または技術的理由により、事前通知が困難な場合があります。その場合、ユーザーは変更後に本サービスを利用した時点で、変更内容に同意したものとみなされます。
    </p>
  </section>
  <!-- 第12条（個人情報の取扱い） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第12条（個人情報の取扱い）</h3>
    <p class="mb-2 indent-4">
      本アプリケーションは、本サービスの利用によって取得する個人情報については、本アプリケーション「プライバシーポリシー」に従い適切に取り扱うものとします。
    </p>
  </section>
  <!-- 第13条（通知または連絡） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第13条（通知または連絡）</h3>
    <p class="mb-2 indent-4">
      ユーザーと本アプリケーションとの間の通知または連絡は、本アプリケーションの定める方法によって行うものとします。本アプリケーションは、ユーザーから本アプリケーションが別途定める方式に従った変更届け出がない限り、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは発信時にユーザーへ到達したものとみなします。
    </p>
  </section>
  <!-- 第14条（権利義務の譲渡の禁止） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第14条（権利義務の譲渡の禁止）</h3>
    <p class="mb-2 indent-4">
      ユーザーは本アプリケーションの書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。
    </p>
  </section>
  <!-- 第15条（準拠法・裁判管轄） -->
  <section class="mb-4">
    <h3 class="header2 mb-2">第15条（準拠法・裁判管轄）</h3>
    <p class="mb-2 indent-4">
      本規約の解釈にあたっては、日本法を準拠法とします。本サービスに関して紛争が生じた場合には、本アプリケーションの本店所在地を管轄する裁判所を専属的合意管轄とします。
    </p>
  </section>
  <div><span class="font-bold">以上</span></div>
  <!-- TOP -->
  <div class="<%= "hidden" if user_signed_in? %> text-black fixed bottom-4 right-4 border rounded-full w-18 aspect-square bg-white z-10 md:block">
    <%= button_tag type: "button",
      data: { controller: "scroll", action: "click->scroll#toTop" },
      class: "nav-icon w-full" do
    %>
      <div class="w-10 aspect-square">
        <%= render "shared/icons/keyboard_arrow_up_icon" %>
      </div>
      <span class="nav-text">TOP</span>
    <% end %>
  </div>
</section>