<%= render "shared/mypage_info" %>

<section class="mx-auto pt-4 pb-8 max-w-120 lg:max-w-175 xl:max-w-250">
  <%= render "shared/infinite_scroll_item",
    controller: "machi_repos",
    action: "load_more_bookmarks",
    title: "まちレポブックマーク一覧",
    objects_count: @machi_repos_count,
    snapshot_time: @snapshot_time,
    is_last_page: @is_last_page,
    objects: @machi_repos,
    contents: render("bookmark_infinite_scroll", machi_repos: @machi_repos)
  %>
</section>
