<% content_for :title, "まちレポ" %>

<div class="text-center">
  <div>
    <h2>
      <span class="header1"><%= t('.title') %></span>
    </h2>
    <p>
      "まち"の安心・安全情報を<br>
      表示します
    </p>
  </div>

  <div class="mb-2">
    <%= render "shared/help_carousel",
      items: [
        { title: "まちレポの閲覧方法", content_partial: "shared/helps/how_to_view_machi_repos/content" },
        { title: "周辺のホットスポット", content_partial: "shared/helps/nearby_hotspots/content" },
        { title: "\"まち\"のまちレポ一覧", content_partial: "shared/helps/towns_machi_repos/content" }
      ]
    %>
  </div>

  <% unless @current_user.machi_repos.exists? %>
    <div id="tutorial" class="mx-auto mb-6 border border-orange-400 rounded-full py-2 shadow-lg w-[300px] bg-[#FFC34D]">
      <%= link_to "\"まちレポ\"を作成してみませんか？", new_tutorial_path, class: "link underline" %>
    </div>
  <% end %>

  <%= render "index_map",
    address: @address,
    latitude: @latitude,
    longitude: @longitude,
    near_hotspots: @near_hotspots,
    machi_repos: @machi_repos,
    machi_repos_count: @machi_repos_count,
    is_last_page: @is_last_page
  %>
</div>
