<div>
  <h1 class="font-bold text-4xl">MachiRepos#index</h1>
  <p>Find me in app/views/machi_repos/index.html.erb</p>
</div>
<%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "link" %>
