<% content_for :title, "まちレポホーム" %>

<div class="text-center">
  <h2 class="mb-8">
    <span class="header1"><%= t('.title') %></span>
    <p>
      "まち"の安心・安全情報を<br>
      表示します
    </p>
  </h2>

  <%= render "index_map",
    address: @address,
    latitude: @latitude,
    longitude: @longitude,
    near_hotspots: @near_hotspots,
    machi_repos: @machi_repos,
    machi_repos_count: @machi_repos_count,
    is_last_page: @is_last_page
  %>
</div>
