<% content_for :title, "まちレポ作成" %>

<div class="text-center">
  <h2 class="mb-6">
    <span class="header1"><%= t('.title') %></span>
    <p>"まち"の情報を投稿しましょう！</p>
  </h2>

  <%# ヘルプ %>
  <div class="mb-2">
    <%= render "shared/help_carousel",
      items: [
        { title: "まちレポの作成方法", content_partial: "shared/helps/how_to_make_machi_repo/content" }
      ]
    %>
  </div>

  <%= render "form", machi_repo: @machi_repo %>
</div>
