<% if @membership.cancelled? %>
  <%= turbo_stream.update "community-membership-button" do %>
    <div class="mr-4 text-right">
      <%= render "community_memberships/buttons/join_button", community: @membership.community %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update "flash_messages" do %>
  <%= render "shared/flash_messages" %>
<% end %>
