<% if @membership.requested? %>
  <%= turbo_stream.update "community-membership-button" do %>
    <div class="mr-4 text-right">
      <%= render "community_memberships/buttons/join_cancel_button", membership: @membership %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update "flash_messages" do %>
  <%= render "shared/flash_messages" %>
<% end %>