<% if current_user.leader_in?(membership.community) %>
  <div class="flex justify-around border-t border-gray-500 pt-2">
    <%= button_to update_role_membership_path(membership), method: :patch, params: { role: "leader", user_id: membership.user.id }, data: { controller: "modal", action: "click->modal#confirm", modal_text_value: "本当にリーダーを交代しますか？" }, form: { data: { turbo_stream: true } }, class: "promote-leader-buttons inline-block border-2 rounded-lg py-1 w-35 bg-blue-100 text-blue-700" do %>
      <span class="flex justify-center items-center gap-2">
        <span class="text-sm">リーダーにする</span>
      </span>
    <% end %>
    <%= button_to update_role_membership_path(membership), method: :patch, params: { role: "general", user_id: membership.user.id }, form: { data: { turbo_stream: true } }, class: "demote-general-buttons inline-block border-2 rounded-lg py-1 w-35 bg-gray-100 text-gray-700" do %>
      <span class="flex justify-center items-center gap-2">
        <span class="text-sm">メンバーにする</span>
      </span>
    <% end %>
  </div>
<% end %>