<p>
  <%= @user.email %> さん
</p>

<p>
  パスワードの変更リクエストを受け付けました。<br>
  <a href="<%= @reset_link %>">こちらのリンク</a>をクリックして、パスワードを変更してください。
</p>

<p>
  このリンクは1時間で無効になります。<br>
  リクエストに覚えがない場合は、このメールを無視してください。
</p>