<p class="tracking-widest">
  &quot;Machi Vigil ~まちヴィジル~&quot;は、<br>
  &quot;まち&quot;で起きている<br>
  安心や安全に関わる様々な情報<br>
  “まちレポ”を<br>
  みんなで共有するためのサービスです！<br>
  <br>
  &quot;まちレポ&quot;について<br>
  チャットで話し合うことができます！<br>
  <br>
  １つの情報がみんなの安心や安全に<br>
  繋がります！<br>
  <br>
  みんなで&quot;まち&quot;を<br>
  見守っていきましょう！
</p>
