<% content_for :title, "メンバー" %>

<%= render "communities/community_info", community: @community %>

<section class="mx-auto pt-4 pb-8 max-w-120 lg:max-w-175 xl:max-w-250">
  <%# リーダー %>
  <section class="mb-4">
    <h3 class="mb-4">
      <span class="header2">リーダー</span>
    </h3>
    <div id="leader" class="flex justify-center">
      <%= render "shared/user_card", user: @leader_membership.user, option: nil, buttons: nil %>
    </div>
  </section>
  <%# サブリーダー %>
  <section class="mb-4">
    <h3 class="mb-4">
      <span class="header2">サブリーダー</span>
    </h3>
    <div id="sub-leaders" class="flex flex-wrap justify-center gap-4">
      <% @sub_leaders_memberships.each do |membership| %>
        <%= render "shared/user_card", user: membership.user, option: nil, buttons: render("community_memberships/buttons/sub_leader_buttons", membership: membership) %>
      <% end %>
    </div>
  </section>
  <%# メンバー %>
  <section class="mb-4">
    <h3 class="mb-4">
      <span class="header2">メンバー</span>
    </h3>
    <div id="members" class="flex flex-wrap justify-center gap-4">
      <% @members_memberships.each do |membership| %>
        <%= render "shared/user_card", user: membership.user, option: nil, buttons: render("community_memberships/buttons/member_buttons", membership: membership) %>
      <% end %>
    </div>
  </section>
</section>