<div class="flex flex-col items-center gap-4 md:flex-row md:flex-wrap md:justify-center md:gap-x-8">
  <div class="w-full text-center tracking-widest">
    <p class="">
      まちレポの詳細は、<br>
      マップ上のマーカー、まちレポカードから<br>
      閲覧することができます。
    </p>
  </div>
  <div class="max-w-[350px] aspect-square">
    <%= image_tag "details_machi_repo_on_map.png" %>
  </div>
  <div class="border max-w-[350px]">
    <%= image_tag "details_machi_repo_card.png" %>
  </div>
  <div class="w-full text-center tracking-widest">
    <p class="mb-4">
      まちレポ詳細画面では、<br>
      まちレポの編集・削除ができます！
    </p>
    <p>
      まちレポについて<br>
      チャットで話し合うこともできます！
    </p>
  </div>
</div>